<section class="section features">
  <div class="feature flex">
    <div class="feature__description flex__item">
      <h3 class="heading feature__heading">Develop Without Limits</h3>

      <p class="feature__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
        velit tenetur debitis numquam odio, ea, culpa odit asperiores deserunt
        neque corrupti. Quisquam reprehenderit non hic.
      </p>

      <button class="btn btn--accent">Read the Documentation</button>
    </div>

    <div class="feature__img-container flex__item">
      <img class="img" src="./images/pictures/coding.png" alt="" />
    </div>
  </div>

  <div class="feature flex">
    <div class="feature__description flex__item">
      <h3 class="heading feature__heading">Know our Global Community</h3>

      <p class="feature__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
        velit tenetur debitis numquam odio, ea, culpa odit asperiores deserunt
        neque corrupti. Quisquam reprehenderit non hic.
      </p>

      <button class="btn btn--accent">Read the Documentation</button>
    </div>

    <div class="feature__img-container flex__item">
      <img class="img" src="./images/pictures/project.png" alt="" />
    </div>
  </div>
</section>
