<div class="section contacts">
  <div class="checkout flex">
    <div class="checkout__line"></div>
    <p class="checkout__text small--text">say hello</p>
  </div>
  <h2 class="checkout__heading">Contact</h2>

  <div class="contacts__container box-container">
    <!-- Contact  -->
    <div class="contact">
      <h4 class="contact__heading">Get in touch</h4>
      <div class="contact__info flex">
        <div class="small-block flex__item flex">
          <img
            src="./images/contact/mail.svg"
            alt=""
            class="img contact__icon flex__item"
          />
          <a
            class="link link--mail flex__item"
            href="mailto:programminghero@gmail.com"
            >programminghero@gmail.com</a
          >
        </div>
        <div class="small-block flex__item flex">
          <img
            src="./images/contact/phone.svg"
            alt=""
            class="img contact__icon flex__item"
          />
          <span>01777777777</span>
        </div>
      </div>
    </div>

    <div class="contact">
      <h4 class="contact__heading">Contact Us</h4>
      <form class="contact__form">
        <div class="input-block flex">
          <div class="input-group flex__item">
            <label for="name"></label>
            <input
              class="input"
              type="text"
              id="name"
              placeholder="Your name*"
            />
          </div>

          <div class="input-group flex__item">
            <label for="email"></label>
            <input
              class="input"
              type="email"
              id="email"
              placeholder="Your email*"
            />
          </div>
        </div>

        <div class="input-block">
          <div class="input-group">
            <label for="messageInput"></label>
            <textarea
              class="input"
              name="textarea"
              id="messageInput"
              rows="10"
              placeholder="Your message*"
            ></textarea>
          </div>
        </div>

        <button class="btn btn--accent">Send</button>
      </form>
    </div>
  </div>
</div>
