<section class="section intro flex">
  <div class="intro__description flex__item">
    <div class="intro__heading-container flex">
      <div class="color-bar"></div>
      <h1 class="heading intro__heading">
        Stay Focused on <br />
        <span class="text--accent"> Mission 2022 </span>
      </h1>
    </div>

    <p class="intro__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
      velit tenetur debitis numquam odio, ea, culpa odit asperiores deserunt
      neque corrupti. Quisquam reprehenderit non hic.
    </p>

    <button class="btn btn--accent">Explore Now</button>

    <small class="text--small intro__text--small"
      >Scroll down to explore more about us</small
    >
  </div>

  <div class="intro__img-container flex__item">
    <img class="img" src="./images/person/person-2.png" alt="" />
  </div>
</section>