<section class="section mission">
  <h2 class="heading mission__heading text--center">
    My Mission in <span class="text--accent"> 2022</span>
  </h2>

  <div class="mission__list flex">
    <div class="card card--primary mission__item">
      <img
        src="./images/illustrators/illustrator-1.png"
        alt=""
        class="img card__img"
      />
      <h4 class="card__heading">Mission</h4>
      <p class="card__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="card card--secondary mission__item">
      <img
        src="./images/illustrators/illustrator-2.png"
        alt=""
        class="img card__img"
      />
      <h4 class="card__heading">Vission</h4>
      <p class="card__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="card card--accent mission__item">
      <img
        src="./images/illustrators/illustrator-3.png"
        alt=""
        class="img card__img"
      />
      <h4 class="card__heading">Goals</h4>
      <p class="card__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
  </div>
</section>
